/* HEADER ---------------------------------------------------------------------------------------- */
.header {
    height: 55px;
    background-color: var(--bacground-color);
    border-bottom: 1px solid #b0b3b844;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header__logo-and-search {
    min-height: 55px;
}

.header__logo-facebook {
    max-width: 40px;
    margin-right: 10px;
}

.header__search {
    display: flex;
    flex: 1;
    height: 40px;
    padding-right: 20px;
    border-radius: 18px;
    background-color: #3a3b3c;
    justify-content: space-between;
    align-items: center;
}

.header__search-icon {
    color: var(--primary-color);
    padding: 0 10px 0 15px;
}

.header__search-input {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: 0;
    flex: 1;
    outline: none;
    color: var(--primary-color);
}

.header__navbar-list {
    height: 55px;
    justify-content: space-evenly;
}

.header__navbar-list-link {
    color: var(--primary-color);
    font-size: 22px;
}

.header__navbar-user {
    height: 100%;
}

.header__navbar-user-link {
    display: block;
    border-radius: 50%;
    background-color: #3a3b3c;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.header__navbar-user-link:hover {
    background-color: #454647;
}

.header__navbar-user-link-icon {
    color: #e4e6eb;
    font-size: 18px;
    margin: auto;
}

.header__avatar {
    max-width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

/* COVER IMG ---------------------------------------------------------------------------------------- */
.cover-image {
    margin-top: 55px;
}

.cover-image-warp {
    max-height: 350px;
    overflow: hidden;
    max-width: 940px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.cover-image-link {
    position: absolute;
    bottom: -30%;
    width: 100%;
    object-fit: contain;
}

.cover-image__btn-edit {
    position: absolute;
    bottom: 0; right: 0;
    margin: 0 30px 15px 0;
    min-height: 35px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.btn-edit-icon {
    transform: translateY(-5%);
}

/* ẢNH ĐẠI DIỆN ---------------------------------------------------------------------------------------- */
.avatar {
    position: relative;

}

.avatar__link-img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 4px solid var(--bacground-color);
    margin: auto;
}

.avatar__btn-edit {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    position: absolute;
    bottom: 7%; right: 7%;
    background-color: #3a3b3c;
}

.avatar__btn-edit-icon {
    color: #e4e6eb;
    font-size: 20px;
    margin: auto;
}

.infomation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infomation__name {
    color: #e4e6eb;
    font-size: 33px;
    font-weight: 650;
    text-align: center;
}

.infomation__list-friend {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}


.infomation__des-friend-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-friend {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--bacground-color);
    position: relative;
}


.friend1 {
    left: 25px;
    z-index: 4;
}

.friend2 {
    left: 10px;
    z-index: 3;
}

.friend3 {
    z-index: 2;
}

.friend4 {
    right: 10px;
}

.infomation__des-friend-add {
    color: var(--primary-color);
    font-size: 18px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    position: relative;
    right: 43px;
}

.edit-information {
    height: 100%;
    padding: 20px 0 12px;
}

.edit-information__add-new {
    font-weight: 500;
    min-height: 40px;
    border: none;
    border-radius: 7px;
    margin-right: 10px;
    align-items: center;
    padding-right: 10px;
    color: #e4e6eb;
    background-color: #2374e1;
}

.edit-information__add-new:hover {
    background-color: #3082ee;
}

.edit-information__plus-wrap {
    width: 20px;
    height: 20px;
    background-color: #e4e6eb;
    margin: 0 8px;
    border-radius: 50%;
    font-size: 16px;
}

.edit-information__plus {
    color: #2374e1;
    margin: auto;
}

.edit-information__btn {
    flex: 1;
    font-size: 16px;
    border-radius: 7px;
    font-weight: 500;
    min-height: 40px;
    color: #e4e6eb;
    background-color: #3a3b3c;
    border: none;
    align-items: center;
    justify-content: space-around;
    padding-right: 10px;
}

.edit-information__btn:hover {
    background-color: var(--bacground-color-btn);
}

/* NAV BAR CHÍNH ---------------------------------------------------------------------------------------- */


.navbar-activate .container-fix {
    border-top: 1px solid #b0b3b844;
    min-height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: start;
}


.navbar-activate-icon {
    padding: 18px 15px;
    color: var(--primary-color);
    height: 100%;
}

.navbar-activate-icon:hover {
    color: var(--primary-color);
    background-color: #3a3b3c;
    border-radius: 8px;
}

.navbar-activate-icon-see-more {
    padding: 18px 15px;
    color: #b0b3b8 !important;
    border: none !important;
    background-color: transparent !important;
}

.navbar-activate-icon-see-more:hover {
    color: #b0b3b8 !important;
    background-color: #3a3b3c !important;
    border-radius: 8px !important;
}

.navbar-activate-icon-see-more:focus {
    box-shadow: unset !important;
}

#navbar__see-more-list {
    background-color: var(--bacground-color);
    min-width: 340px;
    border-radius: 8px;
    border: 1px solid #b0b3b81e;
    padding-top: 5px;
}

#navbar__see-more-icon {
    color: #e4e6eb;
    padding-left: 10px;
    margin-left: 5px;
}

#navbar__see-more-icon:hover {
    background-color: #3a3b3c;
    border-radius: 5px;
}

.dropdown-toggle::after {
    transform: translateY(3px);
}


/* Bài viết ---------------------------------------------------------------------------------------- */

.post.set-item .container-fix {
    background-color: #18191a;
}

.information-personal-wrap {
    background-color: var(--bacground-color);
    padding: 0 15px 7px;
    border-radius: 10px;
}

.information-personal-title {
    color: #e4e6eb;
    font-size: 22px;
    font-weight: 650;
    display: block;
    padding-top: 15px;
}

.information-personal-list {
    color: var(--text-color-lighter);
    list-style: none;
    padding: 0;
}

.personal-item {
    margin: 18px 0;
}

.personal-text-small {
    font-size: 15px;
    text-align: center;
}

.personal-item-btn {
    background-color: var(--bacground-color-btn);
    text-align: center;
    padding: 7px 0;
    border-radius: 7px;
}

.personal-item-btn:hover {
    background-color: #646363;
}

.personal-basic {
    display: flex;
    align-items: center;
}

.personal-item-icon {
    margin-right: 10px;
    font-size: 20px;
    color: var(--primary-color);
}

.information-personal-imgs {
    margin-top: 20px;
    background-color: var(--bacground-color);
    padding: 0 15px 14px;
    border-radius: 10px;
}

.information-personal-imgs > section {
    padding: 20px 0 15px;
}


.personal-imgs-view-all {
    font-size: 18px;
    color: #2374e1;
}


.information-personal-img {
    overflow: hidden;
    margin-bottom: 6px;
    border-radius: 8px;
    height: 110px;
}

.information-personal-img img {
    max-width: 250%;
    max-height: 250%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.information-personal-imgs .row-fix {
    margin: 0 -3px;
}

.information-personal-imgs .col-fix {
    padding: 0 3px;
}


.information-personal-friend section {
    padding-bottom: 0;
}

.personal-friend-desc {
    color: var(--primary-color);
    margin-bottom: 10px;
}


.personal-friend-name {
    font-size: 14px;
    display: block;
    color: var(--text-color-lighter);
    line-height: 20px;
    margin-bottom: 20px;
}

.personal-friend-name:hover {
    color: var(--text-color-lighter);
}

.posts-type-set {
    padding: 10px  15px 10px;
}

.posts-type-set img {
    margin: 0 10px 0 0;
}

.posts-type-set-search.friend-search-container {
    flex: 1;
    padding-left: 15px;
    font-size: 18px;
    height: 40px;
    color: var(--text-color-lighter);
}

.posts-type-list {
    padding: 15px 15px 0;
    margin: 10px 0 0;
    border-top: 1px solid #b0b3b844;
}

.posts-type-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
    border-radius: 8px;
}

.posts-type-item:hover {
    background-color: #535353be
}


.posts-type-icon--image-video,
.posts-type-icon--flag,
.posts-type-icon--camera {
    font-size: 22px;
    margin-right: 10px;
}

.posts-type-icon--camera {
    color: #f3425f;
}

.posts-type-icon--image-video {
    color: #45bd62;
}

.posts-type-icon--flag {
    color: #549ec9;
}

.posts-type-item span {
    color: var(--primary-color);
}

.post-manage {
    margin-top: 20px;
    padding-top: 10px;
}

.post-manage.information-personal-wrap {
    padding-bottom: 0;
}



.post-manage-head-tittle {
    flex: 1;
    padding-top: 0;
}

.post-manage-head-btn {
    background-color: var(--bacground-color-btn);
    border: none;
    padding: 8px 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.post-manage-head-btn span {
    color: var(--text-color-lighter);
}

.post-head-icon--setting,
.post-head-icon--filter {
    color: var(--text-color-lighter);
    font-size: 20px;
    margin-right: 10px;
}

.post-manage-list {
    margin: 10px 0 0 0;
    padding: 0;
    border-top: 1px solid #b0b3b844;
}

.post-manage-item {
    color: var(--primary-color);
    list-style: none;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.post-manage-item:hover {
    cursor: pointer;
}


.post-item-icon--menu {
    font-size: 18px;
    margin-right: 10px;
}
.post-item-icon--grid {
    margin-right: 10px;

}

.posts-desc {
    
}

.posts-desc-name {
    display: block;
    font-weight: 600;
    color: var(--text-color-lighter);
    font-size: 16px;
    line-height: 21px;
}

.posts-desc-date {
    font-size: 14px;
    color: var(--primary-color);

}

.post {
    margin-top: 20px;
    padding: 10px 15px 10px;
}

.header__avatar-desc-wrap .header__avatar {
    margin-left: 0;
}

.post-img {

}

.post-img-link {
    width: 100%;
    object-fit: contain;
}

.post-img-desc1 {
    color: var(--primary-color);
    font-size: 14px;
    padding: 5px 0;
}

.post-img-desc2 {
    color: var(--text-color-lighter);
    font-size: 18px;
    line-height: 22px;

}

.post-action {
    border: none;
    margin-top: 0;
    padding: 10px 10px 0;
    width: 100%;
}

.post-action .posts-type-item {
    min-width: 150px;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    margin-bottom: 5px;
}



.posts-type-icon--like,
.posts-type-icon--cmt,
.posts-type-icon--share {
    font-size: 22px;
    margin-right: 10px;
    color: var(--primary-color);
}

.post-img-comment {
    padding-top: 10px;
    border-top: 1px solid #b0b3b844;
}

.post-comment i {
    color: #b0b3b8c0;
    font-size: 18px;
    margin-left: 15px;
}




/* GIỚI THIỆU ---------------------------------------------------------------------------------------- */
.introduce-container {
    display: flex;
    justify-content: space-between;
}

.introduce-list-des {
    border-right: 1px solid #b0b3b844;
    padding-bottom: 20px;
    height: 100%;
}

.introduce__head-name {
    color: #e4e6eb;
    font-size: 22px;
    font-weight: 650;
    display: block;
    padding-top: 20px;
}


.introduce__list {
    color: var(--primary-color);
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

.introduce__list-item {
    background-color: transparent;
    margin: 10px 0px 10px 0;
    padding-left: 15px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
}

.introduce__list-item:hover {
    cursor: pointer;
}


.introduce-detail-list {
    list-style: none;
    padding-left: 15px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduce-detail-item {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    font-size: 16px;
    color: var(--text-color-lighter);
}

.introduce-detail-content {
    flex: 1;
}


.introduce-detail-icon {
    color: var(--primary-color);
    font-size: 22px;
    width: 25px;
    margin-right: 20px;
}

.introduce-detail--extra {
    font-size: 14.5px;
    color: #b0b3b8;
}

.introduce-detail--modifed {
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    color: #b0b3b8;
    font-size: 17px;
}

.introduce-detail--modifed i:hover {
    color: #206dd3;
}

.introduce-detail--modifed .friend-name-edit {
    background-color: var(--bacground-color-btn);
    margin-left: 20px;
}


.introduce-detail--modifed .friend-name-edit:hover {
    background-color: var(--color-btn-hover);
}


/* BẠN BÈ ---------------------------------------------------------------------------------------- */
.friend {

}

.friend-search-container {
    height: 40px;
    border-radius: 18px;
    background-color: #3a3b3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding-right: 10px;
    overflow: hidden;
}

.friend-search-icon {
    color: var(--primary-color);
    margin: 0 10px;
}

.friend-search {
    background-color: transparent;
    outline: none; border: none;
    color: var(--primary-color);
   flex: 1;
}


.friend-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    margin-bottom: 10px;
}

.friend-img {
    width: 85px;
    height: 85px;
    border-radius: 5px;
    overflow: hidden;
}

.friend-img-link {
    width: 100%;
}

.friend-name {
    color: var(--text-color);
    flex: 1;
    padding-left: 20px;
}

.friend-name-edit {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.friend-info .friend-name-edit {
    margin-right: 10px;
}

.friend-name-edit i:hover,
.friend-name-edit:hover {
    background-color: var(--color-btn-hover);
    color: var(--text-color);
}


/* IMG ---------------------------------------------------------------------------------------- */
.img__and-edit {
    display: block;
    max-height: 170px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}

.img__link {
    object-fit: cover;
}

.img__and-edit-icon {
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    color: aliceblue;
    position: absolute;
    right: 5%;
    top: 5%;
}

.img__and-edit-icon:hover {
    background-color: rgba(0, 0, 0, 0.25);

}

.set-item {
    background-color: #18191a;
    margin: 20px auto 0;
    border-radius: 10px;
}

.set-item .container-fix {
    background-color: var(--bacground-color);
    border-radius: 10px;

}



