body {
  background-color: #A0D7FF !important;
}
.left {
  font-family: 'Inter';
}
.big-sur-left span:first {
  width: 80px;
  height: 75px;
  position: absolute;
  left: 0%;
  right: 18.18%;
  top: 0%;
  bottom: 0%;

  background: #FFFFFF;
}
.container-1 {
  margin: 0 auto;
  width: 250px;
  height: auto;
  
}
.result {
  padding: 5px;
  border: 1px solid rgb(43, 43, 43) ;
  border-bottom: 0;
  text-align: right;
  height: 60px;
  font-size: 24px;
}
.result input {
  width: 100%;
  box-sizing: border-box;
  height: 60px;
}
.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  border-top: 1px solid rgb(43, 43, 43) ;
  border-right: 1px solid rgb(43, 43, 43) ;
}
.btns .btn-item {
  font-size: 24px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(43, 43, 43) ;
  border-left: 1px solid rgb(43, 43, 43) ;
  cursor: pointer;
  
}
.btns .btn-item:hover {
  background-color: rgb(53, 236, 62);
}